<h1>CLIENT DETAILS</h1>
<section id="personal-data">
  <h2>Personal information</h2>
  <div>
    <ul>
      <li>Name: {{user.name}}</li>
      <li>Height: {{user.biometrics.height}}</li>
      <li>Weight: {{user.biometrics.weight}}</li>
      <li>Objective: {{user.objective}}</li>
    </ul>
  </div>
</section>
<section id="client-routines">
  <h2>Routines</h2>
  <div class="routine-card">
    {{#each routines}}
      <li>Name: {{this.routineName}}</li>
      <li>Days per week: {{this.daysPerWeek}}</li>
      <li>Body part: {{this.bodyPart}}</li>
      <a href="/trainer/routine-client/{{this._id}}">View details</a>
    {{/each}}
  </div>
</section>
<br />
<a href="/trainer/client-details/{{user._id}}/routine-new">Add new routine</a>