<h1>CLIENT DETAILS</h1>

<section id="personal-data">
  <h2>Personal information</h2>
  <ul>
    <li>Name: {{clientDetails.name}}</li>
    <li>Height: {{clientDetails.biometrics.height}}</li>
    <li>Weight: {{clientDetails.biometrics.weight}}</li>
    <li>Objective: {{clientDetails.objective}}</li>
  </ul>

  <h2>Routines</h2>

{{#each clientDetails.routines}}
 
    <li>Day: {{this.day}}</li> 
    <li>Body part: {{this.bodyPart}}</li>
    <a href="/trainer/routine-client/{{this._id}}">View details</a>
    <form action="/trainer/client-details/{{this._id}}/delete" method="POST">
      <button>Delete</button>
    </form> 
{{/each}}


<a href="/trainer/client-details/{{clientDetails._id}}/routine-new">Add new routine</a>