<h2>Edit the routine: {{routineToEdit.id}}</h2>

<form action="/trainer/routine-edit/{{routineToEdit.id}}" method="POST">
    <label>
      Name:
    <input type="text" 
    name="routineName" 
    value="{{routineToEdit.routineName}}"/>
    </label>

    <label>Body Part: <input 
    type="text"
    name= "bodyPart"
    value= "{{routineToEdit.bodyPart}}"
    /></label>
<br>
    <label>Day: <input 
    type="text"
    name= "day"
    value= "{{routineToEdit.day}}"
    /></label>
<br>
Exercises:
{{#each routineToEdit.exercises}}
    <label>Name: <input 
    type="text"
    name= "name"
    value= "{{this.name}}"
    /></label>

    <label>Repetitions: <input 
    type="number"
    name= "repetitions"
    value= "{{this.repetitions}}"
    /></label>
    <br>
{{/each}}
<br>
<label>
    Lenght: 
    <input type="text" 
    name="length" 
    value="{{routineToEdit.length}}" />
</label>
<br>
<label>
    Difficulty
    <select name="difficulty" >
    <option>{{routineToEdit.difficulty}}</option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
    </select>
</label>
<br>
<button type="submit">Edit routine</button>
</form>
</div>



