<h2>Edit the routine: {{routineToEdit.routineName}}</h2>
<form action="/trainer/routine-edit/{{routineToEdit.id}}" method="POST">
    <label>
      Name:
    <input type="text" 
    name="routineName" 
    value="{{routineToEdit.routineName}}"/>
    </label>

    <label>Body Part: <input 
    type="text"
    name= "bodyPart"
    value= "{{routineToEdit.bodyPart}}"
    /></label>
<br>
    <label>Days per week: <input 
    type="text"
    name= "daysPerWeek"
    value= "{{routineToEdit.daysPerWeek}}"
    /></label>
<br>
<label>
    Lenght: 
    <input type="text" 
    name="length" 
    value="{{routineToEdit.length}}" />
</label>
<br>
<label>
    Difficulty
    <select name="difficulty" >
    <option>{{routineToEdit.difficulty}}</option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
    </select>
</label>
<br>
<label>
    Equipment
    <select name="equipment" >
    <option>{{routineToEdit.equipment}}</option>
       <option value="No equipment">No equipment</option>
        <option value="Dumbbells/Kettlebells">Dumbbells/Kettlebells</option>
        <option value="Bands">Bands</option>
        <option value="Barbell">Barbell</option>
    </select>
</label>
<br>
Exercises:
<div id="exercises-container">
{{#each routineToEdit.exercises}}
    <label>Name: <input 
    type="text"
    name= "exercises[name][]"
    value= "{{this.name}}"
    /></label>

    <label>Repetitions: <input 
    type="number"
    name= "exercises[repetitions][]"
    value= "{{this.repetitions}}"
    /></label>
    <br>
{{/each}}
    <div class="exercise-field">
        <p>Add new exercises</p>
         <label>Name:
        <input type="text" name="exercises[name][]" placeholder="Name" /> </label>
        <label>Repetitions: <input
          type="text"
          name="exercises[repetitions][]"
          placeholder="Repetitions"
        /></label>
      </div>
         <div class="exercise-field">
         <label>Name:
        <input type="text" name="exercises[name][]" placeholder="Name" /> </label>
        <label>Repetitions: <input
          type="text"
          name="exercises[repetitions][]"
          placeholder="Repetitions"
        /></label>
      </div>
         <div class="exercise-field">
         <label>Name:
        <input type="text" name="exercises[name][]" placeholder="Name" /> </label>
        <label>Repetitions: <input
          type="text"
          name="exercises[repetitions][]"
          placeholder="Repetitions"
        /></label>
      </div>
         <div class="exercise-field">
         <label>Name:
        <input type="text" name="exercises[name][]" placeholder="Name" /> </label>
        <label>Repetitions: <input
          type="text"
          name="exercises[repetitions][]"
          placeholder="Repetitions"
        /></label>
      </div>
</div>
<br>
  <label>Notes:</label>
    <textarea name="notes" cols="30" rows="5"></textarea>
    <br/>
<button type="submit">Edit routine</button>
</form>
</div>



