

<h2>Routine Details</h2>
<p>{{routineDetails.trainer}}</p>
<ul>
  <li>Name: {{routineDetails.routineName}}</li>
  <li>Body part: {{routineDetails.bodyPart}}</li>
  <li>Day: {{routineDetails.day}}</li>
  <li>Length: {{routineDetails.length}}</li>
  <li>Difficulty: {{routineDetails.difficulty}}</li>
  <li>Length: {{routineDetails.length}}</li>

  <li>Exercises</li>
  <ul>
    {{#each routineDetails.exercises}}
      <li>Name:{{this.name}}</li>
      <li>Repetitions:{{this.repetitions}}</li>
    {{/each}}
  </ul>
  <a href="/trainer/routine-client/{{routineDetails._id}}/edit">Edit Routine</a>
  <a href="/trainer/routine-client/{{routineDetails._id}}/delete"> Delete Routine</a>
   <!-- <form action="/trainer/routine-client/{{routineDetails._id}}/delete" method="POST">
  <button>Delete</button> -->
  <br>

  <h2>Comments</h2>
  <ul>
    {{#each routineDetails.comments}}
      <li>Author:{{this.author}}</li>
      <li>{{this.content}}</li>
    {{/each}}
  </ul>

  <form action="/trainer/routine-client/{{routineDetails._id}}/create-comment" method="POST">
  <textarea name="content" cols="30" rows="10"></textarea>
  <br>
  <label>Author:
    <input type="text" name="author"/>
  </label>
  <button type="submit">Add comment</button>
  </form>
</ul>
