<h1>Routine Details</h1>
<h3>{{routineDetails.routineName}}</h3>
<section id="routine-details">
  <ul>
    {{!-- <li>Name: {{routineDetails.routineName}}</li> --}}
    <li>Body part: {{routineDetails.bodyPart}}</li>
    <li>Days per week: {{routineDetails.daysPerWeek}}</li>
    <li>Length: {{routineDetails.length}}</li>
    <li>Difficulty: {{routineDetails.difficulty}}</li>
    <li>Length: {{routineDetails.length}}</li>
    <li>Exercises</li>
    <ul>
      {{#each routineDetails.exercises}}
        <li>Name:{{this.name}}</li>
        <li>Repetitions:{{this.repetitions}}</li>
      {{/each}}
    </ul>
    <li>Notes:{{routineDetails.notes}}</li>
  </ul>
</section>
<section id="routine-comments">
  <h3>Comments</h3>
  <div>
    <ul>
      {{#each routineDetails.comments}}
        <li>Author:{{this.author}}</li>
        <li>{{this.content}}</li>
      {{/each}}
    </ul>
  </div>
  <div>
    <h4>Add new comment</h4>
    <form
      action="/trainer/routine-client/{{routineDetails._id}}/create-comment"
      method="POST"
    >
      <textarea name="content" cols="30" rows="10"></textarea>
      <br />
      <label>Author:
        <input type="text" name="author" />
      </label>
      <button type="submit">Add comment</button>
    </form>
  </div>
</section>
<section id="section-btns">
  <a href="/trainer/routine-client/{{routineDetails._id}}/edit">Edit Routine</a>
  <br />
  <a href="/trainer/routine-client/{{routineDetails._id}}/delete">
    Delete Routine</a>
</section>