<h2>Routine Details</h2>
<p>{{routineDetails.trainer}}</p>
<ul>
  <li>Name: {{routineDetails.routineName}}</li>
  <li>Body part: {{routineDetails.bodyPart}}</li>
  <li>Day: {{routineDetails.day}}</li>
  <li>Length: {{routineDetails.length}}</li>
  <li>Difficulty: {{routineDetails.difficulty}}</li>
  <li>Length: {{routineDetails.length}}</li>

  <li>Exercises</li>
  <ul>
    {{#each routineDetails.exercises}}
      <li>Name:{{this.name}}</li>
      <li>Repetitions:{{this.repetitions}}</li>
    {{/each}}
  </ul>
</ul>