<h1 class="text-2xl font-bold mt-8 text-sky-900"> {{user.name}}'s Dashboard</h1>

<section id="personal-data" class="my-8">
  <h2 class="text-lg font-semibold mb-2 text-gray-900">Personal Information</h2>
  <ul class="mb-6 text-base">
    <li>Height: {{user.biometrics.height}}</li>
    <li>Weight: {{user.biometrics.weight}}</li>
    <li>Objective: {{user.objective}}</li>
  </ul>
  {{!-- {{#if (eq user.weight "")}} --}}
  <a
    href="/user/data-create"
    class="bg-gradient-to-r from-teal-400 to-sky-500 hover:from-orange-500 hover:to-yellow-500 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-8 px-4 py-2"
  >Complete my personal data</a>
  {{!-- {{/if}} --}}

  <a
    href="/user/data-update"
    class="bg-gradient-to-r from-teal-400 to-sky-500 hover:from-orange-500 hover:to-yellow-500 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-8 px-4 py-2"
  >Update my personal data</a>

</section>

<section id="routines" class="mx-8">
  <h2 class="text-lg font-semibold mb-6 text-gray-900">Routines</h2>
  {{#if routines}}
    <div
      class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 m-6"
    >
      {{#each routines}}
        <div
          class="bg-grey-200 px-6 py-4 shadow-md shadow-sky-600 rounded-lg p-4 text-center"
        >
          <h3
            class="text-sky-700 text-lg font-semibold mb-2"
          >{{this.routineName}}</h3>
          <p class="text-gray-600 text-base mb-4">{{this.bodyPart}}</p>
          <a
            href="/user/routine-details/{{this._id}}"
            class="text-orange-500 underline"
          >View details</a>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="mt-4">You don't have any routines yet.</p>
  {{/if}}
</section>